.cart {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s linear;
  z-index: 300;
}

.cart.active {
  right: 0;
}

.cart__header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #bbb;
  width: 100%;
}

.cart__heading {
  text-transform: uppercase;
  color: #aaa;
}

.close__cart {
  position: absolute;
  top: 2%;
  left: 2%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.close__cart i {
  font-size: 30px;
}

.cart__footer {
  border-top: 1px solid #bbb;
  width: 100%;
}

.cart__main {
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 70%;
  text-align: center;
  width: 100%;
}

.cart_item-container {
  width: 100%;
}

.cart__main-empty {
  color: #aaa;
  margin-top: 140px;
}

.summary {
  text-align: left;
}

.summary__total_amount {
  margin: 1rem 0 0 2rem;
}

.summary__to_checkout_btn {
  background-color: #8c0327;
  color: white;
  text-transform: uppercase;
  width: 280px;
  margin-bottom: 15px;
  padding: 15px 0;
  border: 2px solid #8c0327;
  cursor: pointer;
}

.summary__continue_btn {
  background-color: #f7f7f7;
  color: #8c0327;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  width: 280px;
  margin-bottom: 30px;
  padding: 15px 0;
  border: 2px solid #8c0327;
  cursor: pointer;
}

.summary__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 70px;
}

@media screen and (min-width: 560px) {
  .summary__continue_btn,
  .summary__to_checkout_btn {
    margin: 10px 10px;
    width: 250px;
  }

  .summary__buttons {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .cart {
    width: 40%;
  }

  .summary__continue_btn,
  .summary__to_checkout_btn {
    width: 250px;
  }

  .summary__buttons {
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .summary__continue_btn,
  .summary__to_checkout_btn {
    width: 200px;
  }

  .summary__buttons {
    flex-direction: row;
  }
}

@media screen and (min-width: 1245px) {
  .summary__continue_btn,
  .summary__to_checkout_btn {
    width: 280px;
  }
}
