.items-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.items-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.loading {
  margin: 100px 0;
}

.went_wrong {
  color: rgb(255, 0, 0);
  margin: 100px 0;
}

@media screen and (min-width: 768px) {
  .items-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
