.checkout_item {
  display: flex;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid #bbb;
  padding: 1rem 0;
  width: 100%;
  margin-left: 1.5rem;
}

.checkout_item__img-container {
  width: 130px;
  height: 130px;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}

.checkout_item__img {
  width: 100%;
}

.checkout_item-container {
  width: 100%;
}

.checkout_item__detail {
  margin: 10px 0;
}
