.not_found__wrapper {
  text-align: center;
  margin: 150px 0;
}

.not_found__heading {
  font-size: 5.75rem;
}

.not_found__btn {
  background-color: #fff;
  color: #8c0327;
  font-weight: bold;
  text-transform: uppercase;
  width: 140px;
  margin-top: 100px;
  padding: 15px 0;
  border: 2px solid #8c0327;
  cursor: pointer;
}

@media (min-width: 768px) {
  .not_found__heading {
    font-size: 7.75rem;
  }

  .not_found__btn {
    width: 200px;
  }
}
