.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  left: 0;
  right: 0;
  margin: 50px 0;
  padding: 0 3%;
}

i {
  font-size: 25px;
  color: #c4c4c4;
}

i:hover {
  color: #8c0327;
}

.nav__btn-wrapper {
  position: relative;
  z-index: -5;
}

.nav__counter {
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8c0327;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  right: -12%;
  top: -17%;
  z-index: -5;
}
