.container {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
}

.title {
  color: #aaa;
  margin: 10px 0;
  font-size: 1rem;
}

.container form {
  margin: 10px 0;
}

.container form input {
  background-color: #f1f1f1;
  color: #8c0327;
  line-height: 30px;
  padding: 7px 20px;
  border: none;
  outline: none;
  margin-right: 10px;
}

.container form input::placeholder {
  text-transform: uppercase;
  color: #aaa;
}

.container form button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  outline: none;
  color: #aaa;
  padding: 9px 15px;
  cursor: pointer;
}

.container form button:hover {
  color: #8c0327;
}

@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }

  .title {
    margin-right: 30px;
  }
}
