* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arvo", sans-serif;
}

@font-face {
  font-family: "Arvo";
  src: local("Arvo"), url(./fonts/Arvo/Arvo-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  src: local("Titillium Web"),
    url(./fonts/Titillium_Web/TitilliumWeb-Regular.ttf) format("truetype");
}

::selection {
  background-color: blue;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: rgb(226, 232, 233);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(184, 196, 199);
}
